@font-face {
    font-family: UbuntuR;
    src: url(font/Ubuntu-R.ttf);
}
@font-face {
    font-family: UbuntuL;
    src: url(font/Ubuntu-L.ttf);
}
:root{
    --radius: 5px;
    --rapid: 0.2s;
}
*{
    border-radius: var(--radius);
    font-family: UbuntuR;
    margin:0;
    padding: 0;
    outline: none;
}
body{
    background-image: url("res/background.jpg");
}
button,input{
    font-size: 100%;
    padding: 1.5%;
}
button{
    color: white;
    border: none;
    box-shadow: 1.5px 1.5px 2px #333;
    transition: all var(--rapid);
}
button:hover{
    box-shadow: none;
}
header{
    font-size: 150%;
    text-align: center;
    padding: 30px;
}

section{
    font-size: 150%;
}
section#management,section#server{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: center;
}
section#data{
    width: 80%;
    margin: 0 auto;
}
section#data h2{
    text-align: center;
}
input{
    border: 3px solid #DDD;
}
input:focus{
    border: 3px solid lightblue ;
}
section#server p#error{
    color: red;
}
section div.content{
    margin: 20px 0;
    margin-left: 5%;
}
section div.content>*{
    margin-top: 10px;
}
section#informations{
    text-align: center;
}
section#informations div.content ul{
    list-style: disc;
    margin:0;
}
section#informations div.content{
    display: inline-block;
    text-align: left;
}
section#informations div.content li:not(:first-child){
    margin-top: 20px;
}
section#data{
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333;
}
section#data p{
    text-align: center;
    padding: 10px 0;
}
section#data input#days{
    text-align: center;
    width: 5%;
}

button#available{
    background-color: #77dd77;
}
button#unavailable{
    background-color: #e97770;
}
button#change{
    background-color: #7aceec;
}
button#search{
    background-color: #e9e170;
}
table {
    border-collapse: collapse;
    width: 95%;
    margin: 10px auto;
}
caption{
    padding-bottom: 20px;
}
table tbody *{
    padding: 1%;
    text-align: center;
    width: 33.33%;
}
th{
    background-color: #e97770;
    color: white;
}
td,th{
    border-radius: unset;
}
tr:nth-child(odd){
    background-color: #f8f2e7;
}
tr:nth-child(even){
    background-color: white;
}
tr:first-child th:first-child{
    border-radius: var(--radius) 0 0 0;
}
tr:first-child th:last-child{
    border-radius: 0 var(--radius) 0 0;
}
tr:last-child td:first-child{
    border-radius: 0 0 0 var(--radius);
}
tr:last-child td:last-child{
    border-radius: 0 0 var(--radius) 0;
}




